@inject IServiceCounter service
<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me to increment</button>
<button class="btn btn-secondary" @onclick="DecrementCount">Click me to decrement</button>
@code {


    protected override void OnInitialized()
    {
        currentCount = DefaultCount;
    }

    [Parameter]
    public int DefaultCount { get; set; }

    [Parameter]
    public EventCallback<int> OnNewCountValue { get; set; }

    private int currentCount = 0;

    private async Task IncrementCount()
    {
        currentCount = service.Increment(currentCount);
        if (OnNewCountValue.HasDelegate)
            await OnNewCountValue.InvokeAsync(currentCount);
    }

    private async Task DecrementCount()
    {
        currentCount--;
        if (OnNewCountValue.HasDelegate)
            await OnNewCountValue.InvokeAsync(currentCount);
    }
}